* {
  cursor: url("https://image.s10.sfmc-content.com/lib/fe4415707564057b741571/m/2/21c96ed9-04b9-4d43-8698-4c953cb83639.png"), default;
}

html,
body {
  height: 100%;
  background-color: #1c1c1c;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}